@import '../../styles/variables.scss';

.grid {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: 16px;
  .item {
    position: relative;
    transition-property: box-shadow;
    transition-duration: 0.1s;
    border: 4px solid $primary-color-dark;

    img {
      width: 100%;
      object-fit: cover;
    }

    h3 {
      position: absolute;
      top: calc(100% - 40px);
      padding: 8px 16px;
      background: transparentize($primary-color-dark, 0.05);
      border-top-right-radius: 20px;
      font-family: 'Ubuntu';
      font-weight: bold;
      font-size: 1rem;
      color: white;
    }
  }
  .item:hover {
    box-shadow: -5px 10px $primary-color-dark;
  }
}
