@import '@styles/variables.scss';

.content {
  &__title {
    margin: 32px 10px 0px 0px;
  }

  &__markdown {
    & h2,
    h3,
    h4 {
      margin-top: 16px;
    }
    & img {
      width: 100%;
      border: 1px solid #f26c9d;
      border-radius: 16px;
      box-shadow: 0px 0px 8px black;
    }
    & ul {
      margin-left: 32px;
    }
    & a {
      color: pink;
    }
  }
}

.image {
  height: 15vw;
  border: 1px solid #f26c9d;
  border-radius: 16px;
  box-shadow: 0px 0px 8px black;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  .technology {
    display: block;
    background-color: $primary-color-dark;
    border-radius: 2px;
    padding: 4px 12px;
    margin: 4px 4px 0px 0px;
    font-size: 1.4rem;
  }
}

.links {
  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li {
      margin: 4px 4px 0px 0px;
      a {
        display: block;
        padding: 4px 12px;
        color: white;
        font-size: 1.6rem;
        background-color: $primary-color-dark;
        border-radius: 4px;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          color: $highlight-color;
          box-shadow: 0 0 10px $highlight-color;
        }
      }
    }
  }
}
