@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: black;
}

@layer utilities {
  .clip-top {
    clip-path: polygon(2% 0, 98% 2%, 100% 100%, 0 98%);
  }

  .clip-bottom {
    clip-path: polygon(0 2%, 100% 0, 98% 98%, 2% 100%);
  }
}
