$font-primary: 'Ubuntu', sans-serif;

html {
  box-sizing: border-box;
  font-size: 35%;
  @media (min-width: 425px) {
    font-size: 45%;
  }
  @media (min-width: 768px) {
    font-size: 62.5%;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
}
