$primary-color: #272262;
$secondary-color: #f8a9a1;
$highlight-color: #f26c9d;

$primary-color-light: lighten($primary-color, 10);
$primary-color-dark: darken($primary-color, 10);

$section-header-size: 5rem;

$transition-duration: 100ms;
