@import '@styles/variables.scss';

.container {
  width: 95%;
  margin: 0px auto;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 2fr;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 875px) and (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.image {
  border-radius: 8px;
}

.paragraph {
  font-size: 1.8rem;
}

.highlight {
  font-weight: bolder;
  color: $highlight-color;
}
