@import '../../styles/variables.scss';

.nav {
  position: sticky;
  top: calc(100vh - (33.5px + 2rem));
  z-index: 1;

  .menu {
    display: flex;
    justify-content: space-evenly;
    background-color: $primary-color;
    list-style: none;

    .menuLink {
      padding: 16px;
      font-size: 2rem;
      line-height: 1;
      transition: color $transition-duration;
      color: white;
      &:hover {
        color: $highlight-color;
      }
    }
  }

  @media (min-width: 425px) {
    top: 0;
    .menu {
      justify-content: center;
      .menuLink {
        font-size: 1.6rem;
        margin: 0 16px;
      }
    }
  }
}
