@import '@styles/variables.scss';

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-color: #272262;
}

.header {
  user-select: none;
  font-size: 26vw;
  font-weight: bold;
  line-height: 1;
  color: white;
}

.nav {
  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      .button {
        display: inline-block;
        font-size: 2.2rem;
        margin-bottom: 8px;
        padding: 4px 16px;
        color: white;
        transition: all $transition-duration;
        border-radius: 4px;

        &:hover {
          color: $highlight-color;
          background-color: $primary-color;
        }
        @media (min-width: 600px) {
          font-size: 1.8rem;
        }
      }
    }
  }
}

.divider {
  width: 100%;
  @media (min-width: 600px) {
    width: 0px;
  }
}

.scroll {
  position: absolute;
  bottom: 32px;
  width: 20px;
  height: 20px;
  border-right: 4px solid white;
  border-bottom: 4px solid white;
  transform: rotateZ(45deg);
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  100% {
    bottom: 32px;
  }
  50% {
    bottom: 48px;
  }
}

@media (min-width: 462px) {
  .header {
    font-size: 15rem;
  }
}
