.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

  .header {
    font-size: 15rem;
    font-weight: bold;
    line-height: 1;
    color: white;
  }

  .button {
    display: inline-block;
    font-size: 1.7rem;
    padding: 0 16px;
    color: white;
    transition: color 0.2s;
  }
  .button:hover {
    color: #272262;
  }
}
